.about
    +make-container
    padding-top: 6rem
    margin-bottom: $section-margin
    font-size: 2rem
    +breakpoint(xs-max)
        font-size: 1.4rem

    p
        margin-bottom: 1em

.about-header, .about-text
    font-family: $font-family-accent

.about-header
    margin-bottom: 1em
    h1
        margin: 0
        font-size: 1.5em
        font-weight: normal

.about-text
    font-family: $font-family-accent
    p:last-child
        margin-bottom: 0
    

.about-animation
    +disable-user-select
    margin-bottom: 0.6rem
    font-size: 2em
    display: inline-flex
    span
        flex: 0 0 auto
        display: block
    .eyes, .whiskers
        transition: transform 0.5s
    .whiskers.left
        margin-right: 3px
    .whiskers.right
        margin-left: 3px
    &:hover, &.animate, &.reverse
        .eyes
            transform: translateY(-0.9em)
        .whiskers.left
            transform: translateX(0.45em)
        .whiskers.right
            transform: translateX(-0.45em)
    &.reverse:hover
        .eyes
            transform: translateY(0)
        .whiskers
            transform: translateX(0)

