*, *:before, *:after
    box-sizing: border-box

* 
    margin: 0

html
    font-size: 16px
    max-width: 100vw

@keyframes loadContent
    from
        opacity: 0
    to
        opacity: 1
    
body
    transition: background $color-trans, color $color-trans
    background: var(--body-bg)
    color: var(--text-color)
    font-family: $font-family-default
    font-size: 1rem
    line-height: 1.4
    animation: loadContent 1s 0.5s 1 backwards

section, article, aside, header, footer, nav, main, figure, figcaption, code, picture
    display: block

h1, h2, h3, h4, h5, h6, p, ul, ol, dl
    margin: 0 0 1rem

img
    max-width: 100%
    height: auto

::selection
    transition: background-color $color-trans, color $color-trans
    color: var(--body-bg)
    background-color: var(--text-color)


// ----------------------------------------------------
// TYPOGRAPHY

em, i
    font-style: italic
strong, b
    font-weight: 600
strong em, em strong, b i, i b
    font-style: italic
    font-weight: 600
u
    text-decoration: underline
del
    text-decoration: line-through

h1, h2, h3, h4, h5, h6
    font-weight: 600

h1
    font-size: $font-size-h1
h2
    font-size: $font-size-h2
h3
    font-size: $font-size-h3
h4
    font-size: $font-size-h4
h5
    font-size: $font-size-h5
h6
    font-size: $font-size-h6

small
    font-size: $font-size-small


// ----------------------------------------------------
// LINKS & BUTTONS

a:focus, input:focus, textarea:focus, button:focus, .slick-slide:focus
    outline: none

a, button, .btn
    transition: all $color-trans

a
    -webkit-tap-highlight-color: transparent //ios fix
    color: var(--text-color)
    text-decoration: underline
    text-decoration-thickness: 1px
    &:hover
        opacity: $light-text-opacity


// ----------------------------------------------------
// LISTS

.list-unstyled
    list-style-type: none
    padding: 0
    margin: 0


// ----------------------------------------------------
// LAYOUT

@mixin make-container($padding:true)
    +sizes($container-margins, (margin-left, margin-right))
    +sizes($container-width, width)
    @if $container-fixed-breakpoint
        +breakpoint($container-fixed-breakpoint)
            margin-left: auto
            margin-right: auto