.error-page
    padding: 40px
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    +breakpoint(xs-max)
        font-size: 1.4rem

    .about-animation
        font-size: 7rem
        margin-top: 2rem
        +breakpoint(xs-max)
            font-size: 5rem


    h1
        font-family: $font-family-accent
        font-size: 3rem
        margin-bottom: 2rem
        +breakpoint(xs-max)
            font-size: 2rem
            margin-bottom: 1.5rem

    p
        font-size: 1.4rem
        opacity: $light-text-opacity
        +breakpoint(xs-max)
            font-size: 1rem
        &:last-child
            margin-bottom: 0

