@mixin set-font-face($font-family, $font-path, $font-weight, $font-style)
    @font-face
        font-family: $font-family
        src: url('#{$font-path}.woff2') format('woff2'), url('#{$font-path}.woff') format('woff')
        font-weight: $font-weight
        font-style: $font-style



// Font in pages/app.js
// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap')

// Source Sans Pro
+set-font-face('Source Sans Pro', '/fonts/sourcesanspro-regular-webfont', normal, normal)
+set-font-face('Source Sans Pro', '/fonts/sourcesanspro-italic-webfont', normal, italic)
+set-font-face('Source Sans Pro', '/fonts/sourcesanspro-semibold-webfont', 600, normal)
+set-font-face('Source Sans Pro', '/fonts/sourcesanspro-semibolditalic-webfont', 600, italic)

// Lora
+set-font-face('Lora', '/fonts/lora-regular-webfont', normal, normal)
+set-font-face('Lora', '/fonts/lora-italic-webfont', normal, italic)
+set-font-face('Lora', '/fonts/lora-semibold-webfont', 600, normal)
+set-font-face('Lora', '/fonts/lora-semibolditalic-webfont', 600, italic)