.app-footer
    +sizes($container-margins, (padding-left,padding-right))
    text-align: center
    font-size: $font-size-small
    padding-bottom: 1rem
    padding-top: $section-margin
    opacity: $light-text-opacity

    p
        margin: 0