$header-height: 70px

.app-header
    +sizes($container-margins, (padding-left,padding-right))
    transition: background $color-trans
    position: fixed
    top: 0
    right: 0
    left: 0
    background: var(--body-bg)
    height: $header-height
    display: flex
    align-items: center
    border-bottom: 1px solid
    z-index: 100

body
    margin-top: $header-height

.main-menu
    display: flex
    align-items: center
    padding: 0
    margin: 0 0 0 auto
    list-style-type: none
    column-gap: $gutter

    a
        text-decoration: none
        //font-size: $font-size-h4
        text-transform: uppercase
        letter-spacing: 0.05em