.projects-sections
    @extend .section-styles


    ul
        @extend .list-unstyled
        display: grid
        grid-template-columns: repeat(1, 1fr)
        column-gap: $gutter
        row-gap: 1.5rem
        +breakpoint(md)
            grid-template-columns: repeat(2, 1fr)
        

.project-item
    +breakpoint(sm)
        &:first-child h3
            border-top: none
            padding-top: 0
    +breakpoint(md)
        &:nth-child(-n+2) h3
            border-top: none
            padding-top: 0

    h3
        margin: 0
        line-height: 1.3
        border-top: 1px solid
        padding-top: 0.5rem
    .date
        opacity: $light-text-opacity
        font-size: $font-size-small
        margin-bottom: 0.5rem
        font-weight: 600
    p
        margin-bottom: 0

    .tasks
        opacity: $light-text-opacity
        font-size: $font-size-small
        margin-top: 0.5rem
        strong
            text-transform: uppercase
            letter-spacing: 0.05em
