
@keyframes scrollTopAnim
    0%
        transform: translateY(0)
    100%
        transform: translateY(-15px)
  
.scroll-top
    transition: visibility 0s linear 0.35s, opacity 0.35s linear
    position: fixed
    bottom: ($gutter/2)
    right: 0
    z-index: 100
    cursor: pointer
    opacity: 0
    visibility: hidden
    animation: scrollTopAnim 1s infinite alternate
    &.visible
        opacity: 1
        visibility: visible
        transition-delay: 0s
    &:hover
        opacity: 0.5

    svg
        display: block
        width: 2.4em
        height: 2.4em