.section-styles
    +make-container
    border-top: 3px solid
    padding-top: 0.5rem
    margin-bottom: $section-margin
    +breakpoint(sm)
        display: flex
        column-gap: $gutter
        h2
            width: span(1,3)
        ul
            width: span(2,3)

    h2
        margin-bottom: 1rem
        text-transform: uppercase
        letter-spacing: 0.05em
        font-size: $font-size-h4
