.skills-section
    @extend .section-styles
    
    ul
        @extend .list-unstyled
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-auto-flow: row dense
        column-gap: $gutter
        row-gap: 1rem
        +breakpoint(sm)
            grid-template-columns: repeat(3, 1fr)

    li
        display: flex
        align-items: center
        column-gap: 10px
    .name
        font-size: $font-size-h4
    .icon
        transition: background $color-trans, color $color-trans
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        width: 2.8rem
        height: 2.8rem
        color: var(--body-bg)
        background: var(--text-color)
    svg
        display: block
        width: 1.7em
        height: 1.7em

    
