:root {
    --body-bg: #299e7e;
    --text-color: #f4f7f2;
}

$font-family-accent: 'Lora', serif;
$font-family-default: 'Source Sans Pro', sans-serif;

$light-text-opacity: 0.75;

$color-trans: 0.5s;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.3rem;
$font-size-h4: 1.1rem;
$font-size-h5: 1rem;
$font-size-h6: 0.8rem;
$font-size-small: 0.8rem;

// GRID
$gutter: 20px;
$grid-columns: 12;

// LAYOUT
$section-margin: 4rem;

// CONTAINER
$container-width: (
    md:(940px + $gutter),
    //lg:(1140px + $gutter),
);
$container-fixed-breakpoint:     'md';
$container-fixed-breakpoint-max: 'sm-max';

$container-margins: (
    xs:($gutter),
    sm:($gutter*2),
    md:($gutter*2),
    lg:($gutter*2),
);

// MEDIA QUERIES BREAKPOINTS
$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;
$screen-xl:                  1920px;

$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);